/* Постійні клієнти */

.clients__head {
  margin-bottom: 30px;

  @media screen and (min-width: 1600px) {
    margin-bottom: 50px;
  }

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $headline-clr;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  list-style: none;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);
  height: 92px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1600px) {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border: 1px solid $icon-clr;
  border-radius: 4px;
  color: $icon-clr;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover,
  &:focus {
    border-color: $accent-clr;
    color: $accent-clr;
  }
}

.clients__icon {
  fill: currentColor;
}
