/* Постійні клієнти */

.clients__head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $headline-clr;
}

.clients__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  border: 1px solid $icon-clr;
  border-radius: 4px;
  color: $icon-clr;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover,
  &:focus {
    border-color: $accent-clr;
    color: $accent-clr;
  }
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 480px) {
  .clients__list {
    flex-wrap: wrap;
    margin-left: calc(-1 * $card-set-gap);
    margin-top: calc(-1 * $card-set-gap);
  }

  .clients__link {
    // flex-basis: calc(100% / 3 - $card-set-gap);
    margin-left: $card-set-gap;
    margin-top: $card-set-gap;
    width: calc((100% - 2 * $card-set-gap) / 2);
  }
}
