/* Контакти в шапці*/

.contacts {
  display: flex;
  margin-left: auto;

  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-clr;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover,
  &:focus,
  &:active {
    color: $accent-clr;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
