/* Контакти в шапці*/

.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: auto;
    margin-top: 21px;
    margin-bottom: 21px;

    list-style-type: none;

    &__item + &__item {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

    &__item {
      display: flex;
      align-items: center;
    }

    &__item + &__item {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.contacts__link {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $primary-text-clr;
    text-decoration: none;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover,
  &:focus,
  &:active {
    color: $accent-clr;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;


  @media screen and (min-width: 1200px) {
    margin-right: 10px;

    &.icon--envelope {
      width: 16px;
      height: 12px;
    }

    &.icon-smartphne {
      width: 10px;
      height: 16px;
    }
  }
}


