/* Перелік проектів */

.portfolio__head {
  color: transparent;
  height: 0;
}

.projects {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $card-set-gap);
  margin-top: calc(-1 * $card-set-gap);

  list-style-type: none;
}

.projects__item {
  flex-basis: calc(100% / 3 - $card-set-gap);
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;

  background-color: $white-clr;
  border: 1px solid $portfolio-border-clr;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__overlay {
    transform: translateY(0);
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__content {
  padding: 20px 24px;
}

.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $headline-clr;
}

.projects__description {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $primary-text-clr;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  padding: 63px 24px;

  background-color: $portfolio-overlay-color;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-clr;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $animation;
}
