/* Соціальні мережі команди */

.social-networks {
  display: flex;
  justify-content: space-around;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  list-style: none;

  &__icon {
    fill: currentColor;
  }
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: $icon-clr;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: $animation;

  &:hover,
  &:focus {
    background-color: $accent-clr;
    color: $white-clr;
  }
}

// Соціальні мережі у футері

.social-networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white-clr;

  &:hover,
  &:focus {
    background-color: $accent-clr;
    color: $white-clr;
  }
}
