/* Чим ми займаємося */

.tasks__head {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33/28);
  text-align: center;
  letter-spacing: 0.03em;
  color: $headline-clr;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42/36);
  }
}

.tasks__list {
  display: flex;
  justify-content: space-between;
}

.tasks__item {
  position: relative;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-clr;
}

.tasks__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: $tasks-overlay-color;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (max-width: 1199px) {
  .tasks.section {
    display: none;
  }
}
