.page {
  background-color: $white-clr;
  color: $primary-text-clr;
  font-family: "Roboto", sans-serif;

  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
}

.page.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
// Потім прибираємо
  width: 100%;
}

/* SECTION */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    outline: 2px solid olivedrab;
  }
}

/* CONTAINER */

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: calc (480px - 2 * 15px);
    outline: 1px double crimson;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    outline: 1px double crimson;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    outline: 1px double crimson;
  }
}

.header__container,
.footer__container {
  display: flex;
}

.footer__container {
  align-items: baseline;
}

.contacts__container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .footer__container {
    display: inline-block;
    text-align: center;
  }
}

// .portfolio__container {
//   display: flex;
//   flex-direction: column;
// }
