$random-clr: crimson;
$accent-clr: #2196f3;
// --logo-black-color in css
$black-clr: #000000;
// header-background-color in css
$white-clr: #ffffff;
// primary-text-color in css
$primary-text-clr: #757575;
// header-border in css
$header-border-clr: #ececec;
//headlines in css
$headline-clr: #212121;
// close-border-color in css - once
$close-btn: rgba(0, 0, 0, 0.1);
// bg-hero-color in css - once
$bg-hero-clr:#c4c4c4;
// background-secondary-color in css
$bg-secondary-clr: #f5f4fa;
$bg-footer-clr: #2f303a;
$tasks-overlay-color: rgba(47, 48, 58, 0.8);
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
// icon-color in css
$icon-clr: #afb1b8;
// --footer-inbut-border: rgba(255, 255, 255, 0.3);
$footer-input-border-clr: rgba(255, 255, 255, 0.3);
// --backdrop-color: rgba(0, 0, 0, 0.2);
$backdrop-clr: rgba(0, 0, 0, 0.2); 
// --placeholder-color: rgba(117, 117, 117, 0.5);
$placeholder-clr: rgba(117, 117, 117, 0.5);
// --form-borders: rgba(33, 33, 33, 0.2);
$input-border-clr: rgba(33, 33, 33, 0.2);
// --portfolio-border: #eeeeee;
$portfolio-border-clr: #eeeeee;

// --card-set-gap: 30px;
$card-set-gap: 30px;

$shadow-clr: rgba(0, 0, 0, 0.15);
$animation: cubic-bezier(0.4, 0, 0.2, 1);
